body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121317;
}

/* main */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

aside {
  width: 240px;
  background-color: #121317;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #333;
}

.content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  overflow-x: auto;
  color:white;
}

.content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.content::-webkit-scrollbar-track {
  background: #121317;
}

a, button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}